.DevTools h2 {
  color: #f0f0f0;
  font-family: Tajawal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 18px;
}

.DevTools p {
  color: #f0f0f0;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.DevTools .welcome {
  background: rgba(240, 240, 240, 0.24);
  backdrop-filter: blur(10px);
  padding: 20px 132px 30px 40px;
  margin: 15px 0 50px 0;
  clip-path: polygon(0 0, 100% 0, 100% 67.4%, 91.7% 100%, 0 100%);
}

.DevTools .welcome h1 {
  color: #f0f0f0;
  font-family: Tajawal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.DevTools .welcome p {
  margin: 0;
  font-size: 20px;
}

.DevTools .section {
  margin: 28px 0 52px 0;
}

.DevTools .section a {
  display: inline-block;
  background: rgba(30, 30, 30, 0.52);
  text-decoration: none;
  width: 100%;
}

.DevTools .community.section .blog {
  display: flex;
  flex-direction: row;
  padding: 16px;
  column-gap: 16px;
}
.col-md-3 {
  margin-top: 20px;
}
.DevTools .section a > * {
  margin: 0 16px 16px;
  color: #f0f0f0;
  font-family: Tajawal;
  font-style: normal;
  line-height: normal;
}

.DevTools .section .tools-image {
  width: 100%;
  margin: 0 0 16px;
}

.DevTools .section a > h3 {
  font-size: 20px;
  width: fit-content;
  height: 48px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.DevTools .section a > h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.DevTools .section a > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 400;
}

.DevTools .section a > ul {
  list-style-type: '-';
  padding: 0 0 0 5px;
  text-indent: 5px;
}

.DevTools .section a > ul > li {
  line-height: 20px;
}

.logout {
  margin-top: 198px;
}
