body.tournaments {
  background: linear-gradient(0deg, rgba(13, 13, 13, 0.52) 0%, rgba(13, 13, 13, 0.52) 100%),
    url(../images/backgrounds/desert_bg01.jpg) no-repeat top, #0d0d0d 50% / cover no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

body::before {
  display: block;
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(13, 13, 13, 0.16);
  backdrop-filter: blur(10px);
  z-index: -100;
}

.tournaments h2 {
  color: #f0f0f0;
  font-family: Tajawal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 18px;
}

.tournaments p {
  color: #f0f0f0;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.tournaments .welcome {
  background: rgba(240, 240, 240, 0.24);
  backdrop-filter: blur(10px);
  padding: 20px 132px 30px 40px;
  margin: 15px 0 50px 0;
  clip-path: polygon(0 0, 100% 0, 100% 67.4%, 91.7% 100%, 0 100%);
}

.tournaments .welcome h1 {
  color: #f0f0f0;
  font-family: Tajawal;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
}

.tournaments .welcome p {
  margin: 0;
}

.tournaments .section {
  margin: 28px 0 52px 0;
}

.tournaments .section .item {
  display: inline-block;
  background: rgba(30, 30, 30, 0.52);
  text-decoration: none;
  width: 100%;
}

.tournaments .section .item > * {
  margin: 0 20px 20px;
  color: #f0f0f0;
  font-family: Tajawal;
  font-style: normal;
  line-height: normal;
}

.tournaments .section .item > .icon {
  background-color: #0d0d0d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 168px;
  margin: 0 0 30px;
}

.tournaments .section .item > h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.tournaments .section .item .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.tournaments .section .item .details .field {
  display: flex;
  column-gap: 4px;
  flex-direction: row;
  align-items: center;
}

.tournaments .section .item .details .field p {
  color: #6c6c6c;
  font-family: Tajawal;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tournaments .section .item a {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #f0f0f0;
  border-bottom: solid 1px #f0f0f0;
  height: 22px;
}

.tournaments .section .item a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 22px;
  left: -7.5px;
  clip-path: polygon(0 50%, 100% 0, 100% 7%, 15% 50%, 100% 93%, 100% 100%);
  outline: 2px solid white;
  background: #f0f0f0;
}

.tournaments .section .item a::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 22px;
  right: -8px;
  clip-path: polygon(100% 50%, 0 0, 0 7%, 85% 50%, 0 93%, 0 100%);
  outline: 2px solid white;
  background: #f0f0f0;
}

.tournaments .section .item a p {
  color: #f0f0f0;
  text-align: center;
  font-family: Tajawal;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tournaments .live-stream.section .item h3 {
  text-align: left;
  margin-bottom: 24px;
  letter-spacing: 1.8px;
}

.tournaments .live-stream.section .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tournaments .live-stream.section .details img {
  border-radius: 100%;
}

.tournaments .live-stream.section .details .status {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
