@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Clash';
    src: url('../fonts/ClashGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Clash';
    src: url('../fonts/ClashGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Clash';
    src: url('../fonts/ClashGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Clash';
    src: url('../fonts/ClashGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }



  .clipped {
    --edge-size: 1em;
    clip-path: polygon(var(--edge-size) 0,
        100% 0,
        100% calc(100% - var(--edge-size)),
        calc(100% - var(--edge-size)) 100%,
        0 100%,
        0 var(--edge-size));
  }

  .clipped2 {
    --edge-size: 1em;
    clip-path: polygon(var(--edge-size) 0,
        100% 0,
        100% calc(100% - var(--edge-size)),
        calc(100% - var(--edge-size)) 100%,
        0 100%,
        0 var(--edge-size));
  }

  .clipped3 {
    --edge-size: 3em;
    clip-path: polygon(
        var(--edge-size) 0,
        100% 0,
        100% calc(100% - var(--edge-size)),
        100% 100%,
        0 100%,
        0 100%);
  }

  /* Hide the default scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #121212;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 1rem;
    transition: background-color 0.2s;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  html, body {
    scroll-behavior: smooth;
  }


}